In [2]:
import pandas as pd

In [3]:
# reads csv file
df = pd.read_csv('players_20.csv',encoding='unicode_escape')
# set index
df.set_index('short_name', inplace=True)
# select column
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

In [6]:
# show dataframe
df.sample(frac=0.2, random_state=99)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
R. Alvarado,Roberto Alvarado,20,1998-09-07,176,70,Mexico,Cruz Azul
Qiao Wei,Wei Qiao,31,1987-07-20,187,75,China PR,Shenzhen FC
E. Paredes,Esteban Paredes,38,1980-08-01,178,82,Chile,Colo-Colo
K. Stoyanov,Krum Stoyanov,27,1991-08-01,177,71,Bulgaria,Bulgaria
M. ChudÃ½,Martin ChudÃ½,30,1989-04-23,187,90,Slovakia,GÃ³rnik Zabrze
...,...,...,...,...,...,...,...
Pedro LeÃ³n,Pedro LeÃ³n SÃ¡nchez Gil,32,1986-11-24,183,73,Spain,SD Eibar
M. Sykes,Mark Sykes,21,1997-08-04,182,78,Northern Ireland,Oxford United
Y. Fofana,Yahia Fofana,18,2000-08-21,194,89,France,Le Havre AC
A. Micai,Alessandro Micai,25,1993-07-24,186,77,Italy,US Salernitana 1919
David Bruno,David Dias Resende Bruno,27,1992-02-14,175,64,Portugal,Astra Giurgiu

# .apply()

In [9]:
# use numpy function and apply it to series
import numpy as np
df['age'].apply(np.sqrt)

short_name
L. Messi             5.656854
Cristiano Ronaldo    5.830952
Neymar Jr            5.196152
J. Oblak             5.099020
E. Hazard            5.291503
                       ...
Shao Shuai           4.690416
Xiao Mingjie         4.690416
Zhang Wei            4.358899
Wang Haijian         4.242641
Pan Ximing           5.099020
Name: age, Length: 18278, dtype: float64

In [12]:
# create your own function and apply it to a dataframe
def fuf(row):
    return row['weight_kg']/(row['height_cm']/100)**2

In [15]:
df.apply(fuf, axis=1)

short_name
L. Messi             24.913495
Cristiano Ronaldo    23.735308
Neymar Jr            22.204082
J. Oblak             24.615211
E. Hazard            24.163265
                       ...
Shao Shuai           22.835010
Xiao Mingjie         21.066743
Zhang Wei            21.678807
Wang Haijian         21.621622
Pan Ximing           23.547881
Length: 18278, dtype: float64